@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is project for learning Asp.Net, Entity framework, Identity framework and etc.</p>
<p>Project was made by <a href="https://www.linkedin.com/in/harutyun-mkrtchyan-563a06248/">Harutyun Mkrtchyan</a></p>
<p>This is college project, but it has great potential</p>
